# Restic
my_restic_repo/
restic_password.txt

# Loop device
*.img

# Dumps SQL temporaires
*.sql

# Environnement
.env
*.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
/docker/.env
/restic_password.txt
