[Unit]
Description=Lancement de la sauvegarde Restic chaque nuit à 02:00

[Timer]
OnCalendar=*-*-* 02:00:00
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
